# PostgreSQL Database Settings
# These are used by the 'db' service in docker-compose to initialize the database.
POSTGRES_DB=mafia_rumours_service
POSTGRES_USER=user
POSTGRES_PASSWORD=your_strong_password

# Application Settings
# This is the connection string your .NET app will use to connect to the database.
DB_CONNECTION_STRING="Host=db;Port=5432;Database=mafia_rumours_service;Username=user;Password=your_strong_password"
GATEWAY_SERVICE_URL="http://localhost:8001"

SERVICE_DISCOVERY_URL=http://localhost:8080
SERVICE_ID=mafia-rumours-service
SERVICE_HOST=localhost
SERVICE_PORT=5000
